body {
  background: linear-gradient(to bottom, #3652ad, #ad6ab4);
  background-attachment: fixed;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 40px;
  padding: 30px 30px 50px 30px;
  background-color: #fcfcfc;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  font-size: 15px;
  box-sizing: border-box;
  height: 60vh;
}

.error {
  color: red;
}
